#nav-bar {
  background-color: black;
  height: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: 90%;
  margin: auto;
  padding-right: 2%;
}
button {
  width: 80px;
  color: dodgerblue;
  background-color: whitesmoke;
  border: none;
  padding: 5px;
}
