.container {
  width: 80%;
  margin: auto;
}
.dishes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(); */
  gap: 2%;
  /* justify-content: center; */
  /* justify-items: center; */
  align-items: center;
  text-align: center;
}
.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}
img {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: auto;
}
#total-cart {
  width: 40px;
  height: 20px;
  /* border: 1px solid black; */
  margin-bottom: 2%;
  text-align: center;
  background-color: crimson;
}
.cart-btn {
  background-color: teal;
  color: white;
  border: none;
  padding: 5px 10px;
  justify-content: center;
  width: 30%;
  margin: auto;
}
.icon {
  width: 90%;
  margin: auto;
  border: 1px solid teal;
  display: flex;
  justify-content: end;
  padding-right: 2%;
  gap: 2%;
  margin-bottom: 2%;
  /* margin-right: 2% ; */
}
#label {
  color: teal;
  font-weight: bold;
}
